.ttfmake-menu-list-item {
	width: calc( 100% / 3);
}

@media screen and (min-width: 1160px) {

	.ttfmake-menu-list-item {
		width: calc( 100% / 3);
	}
}

.section-type-description p {
	margin: 0 0 0 -4px;
	width: 100%;
}

.ttfmake-section-body {
	float: none;
	margin: 0 auto;
	max-width: 1030px;
	overflow: hidden;
}

.ttfmake-section .wsuwp-spine-builder-column {
	background: content-box #f5f5f5;
	margin-bottom: 0;
	min-height: 30px;
	padding: 0;
}

.ttfmake-section-wsuwp_issue_halves .wsuwp-spine-builder-column-position-1,
.ttfmake-section-wsuwp_issue_thirds .wsuwp-spine-builder-column-position-1,
.ttfmake-section-wsuwp_issue_thirds .wsuwp-spine-builder-column-position-2 {
	padding-right: 5px;
}

.ttfmake-section-wsuwp_issue_halves .wsuwp-spine-builder-column-position-2,
.ttfmake-section-wsuwp_issue_thirds .wsuwp-spine-builder-column-position-2,
.ttfmake-section-wsuwp_issue_thirds .wsuwp-spine-builder-column-position-3 {
	padding-left: 5px;
}

.ttfmake-section-wsuwp_issue_halves .wsuwp-spine-builder-column {
	width: 50%;
}

.ttfmake-section-wsuwp_issue_thirds .wsuwp-spine-builder-column {
	width: calc( 100% / 3);
}

.ttfmake-section-open .wsuwp-spine-builder-column:before {
	content: 'Drag an article here';
	line-height: 30px;
	opacity: .5;
	position: absolute;
	padding: 0 1rem;
}
