.issue-article {
	padding-top: 1rem !important;
}

.issue-article .featured-image {
	position: relative;
	padding-bottom: 56%;
}

.issue-article .featured-image img {
	display: none;
}

.issue-article a.article-link {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    display: block;
    font-size: 0;
}

.issue-article a.article-link:hover {
	background-color: rgba(0,0,0,0.1);
}

.single-issue .builder-section-banner .column {
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 0 !important;
}
.single-issue .builder-banner-content {
	position: absolute;
	top: auto;
	height: auto;
	bottom: 0;
	border: none;
	padding: 2rem;
	color: #fff;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 58%, rgba(0,0,0,0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 58%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 58%,rgba(0,0,0,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
	letter-spacing: 1px;
}

.single-issue .builder-banner-inner-content {
	font-size: 14px;
}

.single-issue .builder-banner-inner-title {
    padding-bottom: 0;
}